

* {
font-family: "Inter", sans-serif;
margin: 0;
box-sizing: border-box;
padding: 0;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #ccd5ae;
    display: flex;
    justify-content: space-between;
    z-index: 99;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("images/background10.jpg") no-repeat;
    background-size: cover
    
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;

}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}


.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;

}

.navigation a:hover::after{
    transform: scaleX(1);
}

.navigation .btn-login-popup {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}


.navigation .btn-login-popup:hover {
    background: #fff;
    color: #606c38;

}




































































































































































































































































































